* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EEF0F2;
    color: #003554;
}

.container {
    display: flex;
}

.sidebar {
    width: 150px;
    background-color: #FFC53A;
    color: #E84855;
    padding: 20px;
    height: 100vh;
    position: fixed;
    transition: 0.2s;
}

.sidebar .logo {
    width: 100%;
    margin-bottom: 2px;
    
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

/**.sidebar ul li a {
    color: #E84855;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: #003554;
}*/

.main-content {
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 100px;
    padding: 20px;
    flex-grow: 1;
    max-width: 90vw;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .main-content {
        max-width: 90vw;
        padding: 5px;
        box-sizing: border-box;
        margin: 5px; /* Remove any space reserved for the sidebar */
    }
}


.language-switcher {
    text-align: right;
    margin-bottom: 20px;
    position: fixed; /* Fix the element relative to the viewport */
    top: 20px;       /* Adjust as needed */
    right: 20px;     /* Adjust as needed */
    z-index: 1000;
}

.language-switcher button {
    background-color: #FFC53A;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    color: #003554;
    border-radius: 5px;
    width: 50px;             /* or any fixed width you prefer */
    height: 40px;
}

.language-switcher button:hover {
    background-color: #003554; 
    color: white;
  }

h1, h2 {
    color: #3590F3;
    margin: 10px;
}

form {
    margin-bottom: 20px;
}

form input, form textarea, form select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #3590F3;
    border-radius: 5px;
}

form button {
    background-color: #3590F3;
    color: #EEF0F2;
    border: none;
    padding: 5px 30px 5px 30px;
    cursor: pointer;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    border-radius: 5px;
}

.team {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .team {
      grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
    }
  }
  
  @media (max-width: 500px) {
    .team {
      grid-template-columns: 1fr; /* One column on very small screens */
    }
  }
  

.member {
    text-align: center;
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}








/* Hide sidebar on small screens */
@media (max-width: 768px) {
    .sidebar {
        display: none;
        
    }

    .sidebar img {
        margin-top: 5vh;
    }

    .menu-button {
        display: block;
    }

    h1{
        margin-top: calc(20px + 10px + 5vh);
    }
}

/* Style the menu button */
.menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #FFC53A;
    color: #EEF0F2;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000; /* Ensures it stays above other elements */
    display: none; /* Hide by default on big screens */
    border-radius: 5px;
}

/* Show button only on small screens */
@media (max-width: 768px) {
    .menu-button {
        display: block;
    }
    .alcala-img{
        float: none;
        display: block;
        margin: 10px;
        max-width: 50px;
        height: auto;
    }
}

p, li {
    margin: 8px;
}

a {
    color: #E84855;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: #003554;
}

.alcala-img {
    max-width: 350px;
    height: auto;
    float: right;
    margin: 10px;
}

figure{
    text-align: center;
    float: right;
}

figure figcaption {
    color: #666;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}
